.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.diagram {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  margin: 0;
  padding: 0;
}

.working {
  font-size: smaller;
  margin: 0;
  text-align: left;
  opacity: 0.5;
}

.steps {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

fieldset {
  border: 1px solid rgba(200, 200, 200, 0.25);
  border-radius: 5px;
}

.canvas {
  image-rendering: pixelated;
}