#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

input {
  min-width: 40px;
  min-height: 40px;
  border-radius: 5px;
  border: 1px solid silver;
}

input[type="number"] {
  max-width: 84px;
}

.views {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.caption {
  float: right;
  opacity: 0.5;
  margin-top: -2rem;
  margin-left: -100%;
}

.working {
  font-size: smaller;
  margin: 0;
  text-align: left;
  color: silver;
}